# Force GitHub Linguist to completely ignore .p pickle datasets in language statistics
*.p -linguist-detectable
*.pickle -linguist-detectable

# Exclude image/gif folders from stats
*.png -linguist-detectable
*.jpg -linguist-detectable
*.gif -linguist-detectable
